<!DOCTYPE html>
<html>
	<head></head>
	<body>
        <div class="container stat-display">
            <h3>Active Players</h3>
            <h3 class="number">{{activePlayers}}</h3>	
        </div>
                
        <div class="stat-display">
            <img class="headshot" src={{plyr90HS}}>
            <div>
                <h3 class="name">{{plyr90PercentName}}</h3>
                <h3 class="player-info">{{plyr90Team}}</h3>
                <h3 class="player-info">{{plyr90Pos}}</h3>
            </div>
        </div>
	</body>
</html>


















